<li class="content-preview-block">
  <img src="{{slide.icon.url}}">
  <h3>{{ slide.heading }}</h3>
  <span class="caption">{{slide.caption}}</span class="caption">
  <a href="{{slide.link_destination}}">{{slide.link_text}}</a>
</li>