<li class="feature-hero" style="background-image:url({{ slide.image.url }})">
    <div class="content container">
        <div class="span-5 feature-slide-content">
			<h2 class="feature-slide-heading">{{ slide.heading }}</h2>
			<h3 class="feature-slide-caption">{{ slide.subheading }}</h3>
            <a class="call-to-action" href="{{ slide.call_to_action_url }}">{{ slide.call_to_action_text }}</a>
        </div>
    </div>
</li>