
<section class="wrap no-padding">
	{{ home_feature_gallery }}
	{{ sign_in_form }}
</section>

<section class="wrap">
	<div class="container">
		<div class="span-12"> {{ preview_block }} </div>
	</div>
</section>

<section class="wrap gray news-community">
	<div class="container heading">
		<div class="span-12 section-heading">
			<h2 class="span-10">News in Our Community</h2>
			<a class="span-2 last view-more" href=" http://dev.nrb.local/news-in-our-community/">View more news</a>
		</div>		
	</div>
	<div class="container">	
		{{ news_community }}
	</div>
</section>
{{ solutions }}


 

